{
  "extends": "standard",
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "no-console": 0,
    "comma-dangle": 0,
    "space-before-function-paren": 0,
    "indent": 0
  }
}
